.input{
   border-radius: 5px;
   padding:10px;
   background-color: #302e2f;
   border: 1px solid #29b085 ;
   color: white;
   outline: #126b4c;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   width: 100%;
   box-sizing: border-box;
}